*.mod
*.dylib
*.dll
*.so
*.o
*.i
*.out
*.h5
.vscode
*.DS_Store
*.pdf
!docs/resources/*.pdf
*.png
*.jld2
.gitattributes
Manifest.toml
build.log
docs/build/
anaconda_projects/
modovmc
pestotv
examples/DIIID-like_ideal_example/*.csv
