*.cov
*.mod
*.dylib
*.dll
*.so
*.o
*.i
*.out
*.h5
.vscode
*.DS_Store
*.pdf
!docs/resources/*.pdf
*.png
*.jld2
.gitattributes
Manifest.toml
*.log
docs/build/
anaconda_projects/
modovmc
pestotv
*.csv
regression-harness/*.sqlite
regression-harness/*.sqlite-shm
regression-harness/*.sqlite-wal
